
.Programs h1 {
    font-size: 36px;
    font-weight: 600;
    color: white;
    text-align: center;}
.Programs p {
    padding-top: 3px;
    font-size: 16px;
    font-weight: 100;
    color: white;
  }
  
  .Programs .row {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
  
  .Programs-col {
    flex-basis: calc(27%);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 0%;
    padding-top: 3rem;
    padding: 20px 12px;
    position: relative;
    transition: 2s;
    
  }
  
  
  .Programs-col:hover {
  box-shadow: 0 0 70px 0px rgb(134, 111, 111);
  transform: scale(1.04);
  }
  
  
  .Programs-col:not(:hover) h2,
  .Programs-col:not(:hover) p,
  .Programs-col:not(:hover) .btn1 {
  transition: none;
  }
  
  .Programs .personal-training {
    background-image: url(../images/pt.png);
    background-size: cover;
  }
  
  .diet-counselling {
    background-image: url(../images/dc.png);
    background-size: cover;
  }
  
  .fitness-programs {
    background-image: url(../images/fp.png);
    background-size: cover;
  }
  



  .Programs h2 {
    padding-top: 120px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin: 8px 0;
    color: white;
  }
  .Programs h6 {
    padding-top: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: 550px;
    color: white;
  }
  
  
  
  .Programs p {
    margin: 1rem 0 2rem;    
    font-family: Gothic A1;
    font-size: 1.0rem;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.001em;
    text-align: justify;
  }
  
  .btn1.lg1 {
    width:90%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    font-size: 14px;
    padding-top: 7px; 
    padding-bottom: 7px; 
    padding-right: 4rem; 
    padding-left: 4rem;
    font-family: PT Sans Narrow;
    font-size: 20px;
    background: transparent;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    transition: 0.3s, rgb(191, 101, 101) 0.3s; 
  }
  
  .btn1.lg1:hover {
    background: orangered;
    color: whitesmoke;
  }
  @media(max-width:700px){
    .row{
        flex-direction: column;
    }
  }
  